/dist
/build
.vercel
/ui/preview
/ui/src/extensions

dist
.env
.DS_Store
uploads
node_modules
*yarn-error.log

.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage

!src/**

./tsconfig.tsbuildinfo
package-lock.json
yarn.lock
medusa-db.sql
build
.cache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/**/.yarn/*
integration-tests/**/.yarn/*
www/**/.yarn/*
.turbo
build/**
**/dist
**/stats%

.eslintcache

